<div class="container" ng-controller="indexAdmin">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading">
            <label class="black">{{lable.list_admin}}</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-primary" href="#admin/admin/add">{{lable.add}}</a>
                </div>
                <div class="col-sm-8 pull-right"  >
                    <form class="navbar-form navbar-left pull-right" role="search"  >
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="keyword" ng-change="pageChangeSearch(currentPage)" placeholder="{{lable.search}}" >
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="width-5">{{lable.stt}}</th>
                        <th class="width-25">{{lable.email}}</th>
                        <th class="width-50">{{lable.password}}</th>
                        <th class="width-10">{{lable.update}}</th>
                        <th class="width-10">{{lable.delete}}</th>
                    </tr>
                </thead>
                <tbody ng-init="fileds = ['email', 'level']">
                    <tr ng-repeat="admin in admins.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))| filter: customSearch : fileds">
                        <td>{{$index + ((currentPage - 1) * itemsPerPage) + 1}}</td>
                        <td>{{admin.email}}</td>
                        <td>{{admin.password}}</td>
                        <td><a class="btn btn-warning btn-xs" href="#admin/admin/edit/{{admin._id}}">{{lable.update}}</a></td>
                        <td><a class="btn btn-danger btn-xs" ng-click="destroy(admin._id)">{{lable.delete}}</a></td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="totalItems > itemsPerPage">
                <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
            </div>
        </div>
    </div>
</div>

