<div class="login_wrapper" ng-controller="changePasswordResset">
    <div class="animate form login_form">
        <section class="login_content">
            <form name="frm_password" novalidate ng-submit="passwordResset()" >
                <div id="login-icon-login">
                    <img  src="../../public/images/icon-logo.png">
                    <h1>{{lable.change_password}}</h1>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_password.password.$touched && frm_password.password.$invalid) || (frm_password.email.$invalid && frm_password.$submitted) }">
                    <input type="password" name="password" ng-model="user.password" style="margin: 5px 0px" ng-minlength="6" class="form-control" placeholder="{{lable.password}}" required />
                    <div ng-messages="frm_password.password.$error" ng-show="frm_password.password.$touched || frm_password.$submitted">
                        <span class="error" ng-message="required">{{lable.input_password}}</span>
                        <span class="error" ng-message="minlength">{{lable.input_password_min_length}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_password.confirm_password.$touched && frm_password.confirm_password.$invalid) || (frm_password.confirm_password.$invalid && frm_password.$submitted) }">
                    <input type="password" name="confirm_password" ng-model="user.confirm_password"  ng-minlength="6" compare-to="user.password" style="margin: 5px 0px" class="form-control" placeholder="{{lable.password_confirm}}" required />
                    <div ng-messages="frm_password.confirm_password.$error" ng-show="frm_password.confirm_password.$touched || frm_password.$submitted">
                        <span class="error" ng-message="required">{{lable.input_password_confirm}}</span>
                        <span class="error" ng-message="compareTo">{{lable.input_password_confirm_compare_to}}</span>
                        <span class="error" ng-message="minlength">{{lable.input_password_confirm_min_lenngth}}</span>
                    </div>
                </div>
                <div>
                    <button class="btn btn-default submit" type="submit">{{lable.change_reset}}</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <div>
                        <p> <span ng-click="setLanguage('vi')" class="point-cursor-pointer">Tiếng Việt | </span>
                            <span ng-click="setLanguage('ja')" class="point-cursor-pointer" >日本の | </span> Copyright © 2017, HOUHOU!</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>