<div class="col-sm-6 col-sm-offset-3 confirm-reset" ng-controller="confirmChangePasswordRessetSuccess">
    <div class="panel panel-default">
        <div class="panel-heading"><label class="title">{{lable.notification_password}}</label></div>
        <div class="panel-body">
            <p class="text-center"> {{lable.confirm_rest_change_password_success}}
            <hr/>
            <p>{{lable.respect_houhou}}</p>
        </div>
        <div class="panel-footer text-center"><a href="#/" class="btn btn-default">{{lable.confirm}}</a></div>
        <div class="clearfix"></div>
        <div>
            <p> <span ng-click="setLanguage('vi')" class="point-cursor-pointer">Tiếng Việt | </span>
                <span ng-click="setLanguage('ja')" class="point-cursor-pointer" >日本の | </span> Copyright © 2017, HOUHOU!</p>
        </div>
    </div>
</div>
