<div class="login_wrapper" ng-controller="passwordRessetController">
    <div class="animate form login_form">
        <section class="login_content">
            <form name="resset" novalidate ng-submit="resetPassword()" >
                <div id="login-icon-login">
                    <img  src="../../public/images/icon-logo.png">
                    <h1>{{lable.forgot_password}}</h1>
                </div>
                <div class="form-group" ng-class="{'has-error': (resset.email.$touched && resset.email.$invalid) || (resset.email.$invalid && resset.$submitted) }">
                    <input type="email" name="email" ng-model="user.email" style="margin: 5px 0px" class="form-control" placeholder="{{lable.email}}" required />
                    <div ng-messages="resset.email.$error" ng-show="resset.email.$touched || resset.$submitted">
                        <span class="error" ng-message="required">{{lable.input_email}}</span>
                        <span class="error" ng-message="email">{{lable.input_email_error}}</span>
                    </div>
                </div>
               
                <div>
                    <button class="btn btn-default submit" type="submit">{{lable.send}}</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div class="clearfix"></div>
                    <div>
                        <p> <span ng-click="setLanguage('vi')" class="point-cursor-pointer">Tiếng Việt | </span>
                            <span ng-click="setLanguage('ja')" class="point-cursor-pointer" >日本の | </span> Copyright © 2017, HOUHOU!</p>
                    </div>
                </div>
                
            </form>
        </section>
    </div>
</div>