<div div class="container" ng-controller="detailStudentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.detail_student}}</label></div>
        <div class="panel-body">
            <label class="black">{{lable.info_student}}</label>
            <table class="table table-bordered">
                <tr>
                    <th>{{lable.id_student}}</th>
                    <th>{{lable.name_student}}</th>
                    <th>{{lable.email}}</th>
                    <th>{{lable.phone}}</th>
                    <th>{{lable.address}}</th>
                    <th>{{lable.sex}}</th>
                    <th>{{lable.birth}}</th>
                </tr>
                <tr>
                    <th>{{student._id}}</th>
                    <th>{{student.name}}</th>
                    <th>{{student.phone}}</th>
                    <th>{{student.email}}</th>
                    <th>{{student.address}}</th>
                    <th>{{student.sex}}</th>
                    <th>{{student.birth}}</th>
                </tr>
            </table>
            <div class="ln_solid"></div>
            <div class="row" id="content_exercise">
                <div class="col-sm-9">
                    <label class="black">{{lable.info_exercise}}</label>
                    <table class="table table-bordered table-result-study">
                        <tr>
                            <th></th>
                            <th>Thời gian </th>
                            <th>Từ vựng</th>
                            <th>Mẫu câu</th>
                            <th>Nghe</th>
                            <th>Viết</th>
                            <th>Test</th>

                        </tr>
                        <tr>
                            <td rowspan="2">Bài 1</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 2</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 3</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 4</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 5</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 6</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 7</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 item_average_exercise">
                     <!--<button class="btn  btn-primary btn_print_student">{{lable.print}}</button>-->
                    <div class="average_exercise">
                        <label class="label_center">3,2h</label>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row"> 
                <div class="col-sm-6">
                    <label class="black">{{lable.comment}}Tổ chức A</label>
                    <table class="table table-bordered">
                        <tr>
                            <th>{{lable.user_comment}}</th>
                            <th>{{lable.content}}</th>
                            <th>{{lable.date}}</th>

                        </tr>
                        <tr>
                            <th>{{student._id}}</th>
                            <th>{{student.name}}</th>
                            <th>{{student.phone}}</th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <label class="black">{{lable.comment}}Tổ chức B</label>
                    <table class="table table-bordered">
                        <tr>
                            <th>{{lable.user_comment}}</th>
                            <th>{{lable.content}}</th>
                            <th>{{lable.date}}</th>

                        </tr>
                        <tr>
                            <th>{{student._id}}</th>
                            <th>{{student.name}}</th>
                            <th>{{student.phone}}</th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <label class="black">{{lable.comment}} Tổ chức C</label>
                    <table class="table table-bordered">
                        <tr>
                            <th>{{lable.user_comment}}</th>
                            <th>{{lable.content}}</th>
                            <th>{{lable.date}}</th>

                        </tr>
                        <tr>
                            <th>{{student._id}}</th>
                            <th>{{student.name}}</th>
                            <th>{{student.phone}}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-default"  href="#admin/student">{{lable.back}}</a>
        </div>
    </div>
</div>