<div class="container" ng-controller="indexNotificationController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading ">
            <label class="title">{{lable.list_notification}}</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 pull-right"  >
                    <form class="navbar-form navbar-left pull-right" role="search"  >
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="keyword"  placeholder="{{lable.search}}" >
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover table_new">
                <thead>
                    <tr>
                        <th class="width-5">{{lable.stt}}</th>
                        <th class="width-20">{{lable.title}}</th>
                        <th class="width-30">{{lable.description}}</th>
                        <th class="width-20">{{lable.date_send}}</th>
                        <th class="width-10">{{lable.view}}</th>
                    </tr>
                </thead>
                <tbody ng-init="fileds = [ 'title','description']">
                    <tr ng-repeat="itemNew in news.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))| customSearch: keyword : fileds">
                        <td>{{$index + ((currentPage - 1) * 20) + 1}}</td>
                        <td>{{itemNew.title}}</td>
                        <td>{{itemNew.description}}</td>
                        <td>{{itemNew.created * 1000| date: "yyyy-MM-dd hh:mm"}}</td>
                        <td><a class="btn btn-default btn-xs" href="#operator/notification/{{itemNew._id}}">{{lable.view}}</a></td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="totalItems > itemsPerPage">
                <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
            </div>
        </div>
    </div>
</div>