<div div class="container" ng-controller="editCVSystemController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">Tình trạng hôn nhân</label></div>
        <div class="panel-body">
            <div class="row config_payment" ng-repeat="cv in numberItem track by $index">
                <i class="remove_config" ng-click="removeItem(cv._id,$index)">&times;</i>
                <form class="form-horizontal form-label-left" name="frm_add" novalidate ng-submit="addPayment()">
                    <div class="col-sm-5" >
                        <div class="form-group" ng-class="{'has-error': (frm_add.vietname.$touched && frm_add.vietname.$invalid) || (frm_add.$submitted && frm_add.vietname.$invalid)}">
                            <label class="control-label col-sm-3">{{lable.vietname}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control "  name="vietname" required ng-model="cv.title" >
                                <div ng-messages="frm_add.vietname.$error" ng-show="frm_add.vietname.$touched || frm_add.$submitted">
                                    <span class="error" ng-message="required">{{lable.input_viet_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" >
                        <div class="form-group" ng-class="{'has-error': (frm_add.japane.$touched && frm_add.japane.$invalid) || (frm_add.$submitted && frm_add.japane.$invalid)}">
                            <label class="control-label col-sm-3">{{lable.japane}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control "  name="japane" required ng-model="cv.description" >
                                <div ng-messages="frm_add.japane.$error" ng-show="frm_add.japane.$touched || frm_add.$submitted">
                                    <span class="error" ng-message="required">{{lable.input_japane}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <button type="submit" class="btn btn-primary" ng-click="addUpdate(cv._id, cv.title, cv.description, $index)">{{lable.set_up}}</button>
                    </div>
                </form>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <a  class="btn btn-default" href="#admin/system/cv">{{lable.back}}</a>
                    <button type="submit" class="btn btn-success" ng-click="add_new_item()">{{lable.add}}</button>
                </div>
            </div>
        </div>
    </div>
</div>