<div class="container" ng-controller="indexUpgradeCodeController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading">
            <label class="black"> {{lable.list_code_not_active}}</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 pull-right"  >
                    <form class="navbar-form navbar-left pull-right" role="search"  >
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="keyword" ng-change="pageChangeSearch(currentPage)" placeholder="{{lable.search}}" >
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover table_new">
                <thead>
                    <tr>
                        <th class="width-10">{{lable.stt}}</th>
                        <th class="width-20">{{lable.code}}</th>
                        <th class="width-40">{{lable.name_operator}}</th>
                        <th class="width-20">{{lable.date_create}}</th>
                        <th class="width-20">{{lable.print}}</th>
                    </tr>
                </thead>
                <tbody ng-init="fileds = ['code', 'name_operator','email']">
                    <tr ng-repeat="itemNew in news.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage)) | customSearch: keyword : fileds">
                        <td>{{$index + 1 + ((currentPage - 1) * itemsPerPage)}}</td>
                        <td>1231-1231-1231</td>
                        <td>Tiếng nhật mina</td>
                        <td>2017/12/12</td>
                        <td><button class="btn btn-primary btn-xs" ng-click="printPDF(news.title)">{{lable.print1}}</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="totalItems > itemsPerPage">
                <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
            </div>
        </div>
    </div>
</div>

