<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs" ng-init="tab_student = 1">
            <li ng-class="tab_student == 1 ? 'active' : ''" ng-click="tab_student = 1"><a href="" class="black">{{lable.list_student}}</a></li>
            <li ng-class="tab_student == 2 ? 'active' : ''" ng-click="tab_student = 2"><a href="" class="black">{{lable.add_student}}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div ng-show="tab_student == 1">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 pull-right"  >
                        <form class="navbar-form navbar-left pull-right" role="search"  >
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="keywordListStudent"  placeholder="{{lable.search}}" >
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                           <th class="width-5">{{lable.stt}}</th>
                            <th class="width-15">{{lable.name_student}}</th>
                            <th class="width-15">{{lable.email}}</th>
                            <th class="width-25">{{lable.address}}</th>
                            <th class="width-15">{{lable.phone}}</th>
                            <th class="width-10">{{lable.sex}}</th>
                            <th class="width-15">{{lable.birth}}</th>
                            <th class="width-10">{{lable.add}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students.slice(((curentPagelistStudent - 1) * itemsPerPage), ((curentPagelistStudent) * itemsPerPage))| filter: keywordListStudent">
                            <td>{{$index + ((curentPagelistStudent - 1) * itemsPerPage) + 1}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.address}}</td>
                            <td>{{student.phone}}</td>
                            <td>{{student.sex}}</td>
                            <td>{{student.birth * 1000| date : 'yyyy-MM-dd'}}</td>
                            <td><a class="btn btn-xs btn-danger" ng-click="deleteStudentOfGroup(student._id, group._id)" >{{lable.delete}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="totalItemsStudent > itemsPerPage">
                    <pagination total-items="totalItemsStudent" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="curentPagelistStudent"  class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
        <div ng-show="tab_student == 2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8 pull-right"  >
                        <form class="navbar-form navbar-left pull-right" role="search"  >
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="keywordAddStudent"  placeholder="{{lable.search}}" >
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="width-5">{{lable.stt}}</th>
                            <th class="width-15">{{lable.name_student}}</th>
                            <th class="width-15">{{lable.email}}</th>
                            <th class="width-25">{{lable.address}}</th>
                            <th class="width-15">{{lable.phone}}</th>
                            <th class="width-10">{{lable.sex}}</th>
                            <th class="width-15">{{lable.birth}}</th>
                            <th class="width-10">{{lable.add}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="addStudent in addStudents.slice(((curentPageAddStudentGroupToAdd - 1) * itemsPerPage), ((curentPageAddStudentGroupToAdd) * itemsPerPage))| filter: keywordAddStudent">
                            <td>{{$index + ((curentPageAddStudentGroupToAdd - 1) * itemsPerPage) + 1}}</td>
                            <td>{{addStudent.name}}</td>
                            <td>{{addStudent.email}}</td>
                            <td>{{addStudent.address}}</td>
                            <td>{{addStudent.phone}}</td>
                            <td>{{addStudent.sex}}</td>
                            <td>{{staddStudentudent.birth * 1000| date : 'yyyy-MM-dd'}}</td>
                            <td><a class="btn btn-xs btn-success" ng-click="addStudentToGroup(addStudent._id, group._id)" >{{lable.add}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="totalItemsAddStudent > itemsPerPage">
                    <pagination total-items="totalItemsAddStudent" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="curentPageAddStudentGroupToAdd"  class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>