<div div class="container" ng-controller="addGroupController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.add_group}}</label></div>
        <div class="panel-body">
            <form class="form-horizontal form-label-left" name="frm_add_group" novalidate ng-submit="addGroup()">
                <div class="form-group" ng-class="{'has-error': (frm_add_group.name.$touched && frm_add_group.name.$invalid) || (frm_add_group.name.$invalid && frm_add_group.$submitted) }">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.name_group}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="name"  class="form-control" name="name" ng-model="group.name" placeholder="{{lable.name_group}}" required>
                        <div ng-messages="frm_add_group.name.$error" ng-show="frm_add_group.name.$touched || frm_add_group.$submitted">
                            <span class="error" ng-message="required">{{lable.input_group}}</span>
                           
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 ">
                        <a  class="btn btn-default" href="#operator/group">{{lable.cancel}}</a>
                        <button type="submit" class="btn btn-success">{{lable.add}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>