<div div class="container" ng-controller="passwordProfileController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.change_password}}</label></div>
        <div class="panel-body">
            <form class="form-horizontal form-label-left" name="frm_change" novalidate ng-submit="changPassword()">

                <div class="form-group" ng-class="{'has-error': (frm_change.password.$touched && frm_change.password.$invalid) || (frm_change.$submitted && frm_change.password.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.password}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" ng-minlength="6" name="password" autocomplete="new-password" required ng-model="adminUser.password" placeholder="{{lable.password}}">
                        <div ng-messages="frm_change.password.$error" ng-show="frm_change.password.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">{{lable.input_password}}</span>
                            <span class="error" ng-message="minlength">{{lable.input_password_min_lenngth}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(frm_change.new_pass.$touched && frm_change.new_pass.$invalid) || (frm_change.$submitted && frm_change.new_pass.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.new_pass}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" ng-minlength="6" name="new_pass" ng-model="adminUser.new_password" required placeholder="{{lable.new_pass}}">
                        <div ng-messages="frm_change.new_pass.$error" ng-show="frm_change.new_pass.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">{{lable.input_new_pass}}</span>
                            <span class="error" ng-message="minlength">{{lable.input_new_pass_min_length}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(frm_change.new_pass_confirm.$touched && frm_change.new_pass_confirm.$invalid) || (frm_change.$submitted && frm_change.new_pass_confirm.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.confirm_new_pass}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="password" class="form-control" compare-to="adminUser.new_password" ng-minlength="6" name="new_pass_confirm" ng-model="adminUser.new_pass_confirm" required placeholder="{{lable.confirm_new_pass}}">
                        <div ng-messages="frm_change.new_pass_confirm.$error" ng-show="frm_change.new_pass_confirm.$touched || frm_change.$submitted">
                            <span class="error" ng-message="required">{{lable.input_confirm_new_pass}}</span>
                            <span class="error" ng-message="minlength">{{lable.input_confirm_new_pass_minth_length}}</span>
                            <span class="error" ng-message="compareTo">{{lable.input_confirm_new_pass_compare_to}}</span>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 ">
                        <a  class="btn btn-default" href="#/">{{lable.cancel}}</a>
                        <button type="submit" class="btn btn-success">{{lable.change}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>