<div div class="container" ng-controller="detailNewController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.detail_new}}</label></div>
        <div class="panel-body">
            <form class="form-horizontal form-label-left" name="frm_add_new" novalidate ng-submit="addNew()">
                <div  class="form-group" >
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.title}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"   class="form-control" name="title" disabled  ng-minlength ="6" ng-model="operator_new.title" required placeholder="{{lable.title}}"  >
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.new}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea class="form-control" name="desciption" disabled ng-model="operator_new.description" rows="5" ng-minlength ="6" required placeholder="{{lable.new}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.type_send_new}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="radio" ng-init="operator_new.type_send = 'immediate'">
                            <label> <input type="radio" name="type_send" disabled  value="immediate" ng-model="operator_new.type_send" >{{lable.immediate}}</label>
                            <label> <input type="radio" name="type_send"   disabled value="late" ng-model="operator_new.type_send" >{{lable.late}}</label>
                        </div>
                    </div>
                </div>
                <div  class="form-group" >
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.time}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text"  class="form-control" name="time_send" disabled value="{{operator_new.date_booking * 1000|  date :'yyyy-MM-dd hh:mm'}}"   >
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.student_free}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="checkbox">
                            <label> <input type="checkbox" name="student_free" disabled ng-model="operator_new.student_free" >{{lable.student_free}}</label>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="row">
                    <div class="col-sm-4"> <label class="black">{{lable.send_to_group}}</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-2">
                            <button class="btn btn-default" disabled ng-repeat="group in groups" ng-if="group._id != '0'">{{group.name}}</button>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 ">
                        <a  class="btn btn-default" href="#operator/new">{{lable.back}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>