<div div class="container" ng-controller="systemDiscountPaymentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.change_password}}</label></div>
        <div class="panel-body">
            <div class="row config_payment" ng-repeat="payment in numberItem track by $index">
                <i class="remove_config" ng-click="removeItem(payment._id,$index)">&times;</i>
                <form class="form-horizontal form-label-left" name="frm_add" novalidate ng-submit="addPayment()">
                    <div class="col-sm-6">
                        <label class="control-label col-md-4 col-sm-4">{{lable.number_code}}</label>
                        <div class="col-md-8 col-sm-8" >
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{'has-error': (frm_add.from.$touched && frm_add.from.$invalid) || (frm_add.$submitted && frm_add.from.$invalid)}">
                                    <input type="text" class="form-control " ng-pattern="/^[1-9]{1}[0-9]*$/"  name="from" required ng-model="payment.from" placeholder="{{lable.from}}">
                                    <div ng-messages="frm_add.from.$error" ng-show="frm_add.from.$touched || frm_add.$submitted">
                                        <span class="error" ng-message="required">{{lable.input_number_code}}</span>
                                        <span class="error" ng-message="pattern">{{lable.input_number_code_error}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{'has-error': (frm_add.to.$touched && frm_add.number.$invalid) || (frm_add.$submitted && frm_add.to.$invalid)}">
                                    <input type="text" class="form-control " ng-pattern="/^[1-9]{1}[0-9]*$/"  name="to" required ng-model="payment.to" placeholder="{{lable.to}}">
                                    <div ng-messages="frm_add.to.$error" ng-show="frm_add.to.$touched || frm_add.$submitted">
                                        <span class="error" ng-message="required">{{lable.input_number_code}}</span>
                                        <span class="error" ng-message="pattern">{{lable.input_number_code_error}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{'has-error': (frm_add.percent_discount.$touched && frm_add.percent_discount.$invalid) || (frm_add.$submitted && frm_add.percent_discount.$invalid)}">
                            <label class="control-label col-md-4 col-sm-4 ">{{lable.discount}}</label>
                            <div class="col-md-8 col-sm-8 " >
                                <input type="text" class="form-control" ng-pattern="/^[1-9]{1}[0-9]*$/"  name="percent_discount" required ng-model="payment.percent_discount" placeholder="{{lable.percent_discount}}">
                                <div ng-messages="frm_add.percent_discount.$error" ng-show="frm_add.percent_discount.$touched || frm_add.$submitted">
                                    <span class="error" ng-message="required">{{lable.input_number_code}}</span>
                                    <span class="error" ng-message="pattern">{{lable.input_number_code_error}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" ng-click="addUpdate(payment._id, payment.from, payment.to, payment.percent_discount, $index)">Thiết lập</button>
                    </div>
                </form>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <a  class="btn btn-default" href="#admin/system/payment">{{lable.cancel}}</a>
                    <button type="button" class="btn btn-success" ng-click="add_new_discount()">{{lable.add}}</button>
                </div>
            </div>
        </div>
    </div>
</div>