<div class="container" id="homePage" ng-controller="systemPaymentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading black"><label class="title">{{lable.home}}</label></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/term" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.term_by_code}} </label> 
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/term_create_code" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.term_create_code}} </label> 
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/discount" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.discount}} </label> 
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/subjects" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.subjects}} </label> 
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/time_expired" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.time_expired}} </label> 
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#/admin/system/payment/create_code" >
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home font-admin">{{lable.create_code}} </label> 
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>