<div div class="container" ng-controller="byCodePaymentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.resquest_by_code}}</label></div>
        <div class="panel-body">
            <div>
                <ul><li>Điều khoản sử dụng hệ thống lần thứ nhất.</li><li>Điều khoản sử dụng hệ thống thứ 2</li><li>Điều khoản sử dụng hệ thống thứ ba</li><li>Điều khoản sử dụng hệ thống thứ 4</li><li>Điều khoản sử dụng hệ thống thứ 5</li><li>Điều khoản sử dụng hệ thống thứ 6</li><li>Điều khoản sử dụng hệ thống thứ 7</li></ul>
            </div>
            <form class="form-horizontal form-label-left" stripe:form="savePayment" name="frm_payment" id="frm_payment" novalidate  >
                <div style="padding: 20px 10px">
                    <label>{{lable.info_request}}</label>
                </div>
                <div class="row">
                    <div class="form-group col-sm-2" ng-class="{'has-error': (frm_payment.number.$touched && frm_payment.number.$invalid) || (frm_payment.$submitted && frm_payment.number.$invalid)}">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control"  name="number" ng-change="updateTotalMoney(payment.number)" required ng-pattern="/^[0-9]+$/" ng-model="payment.number" placeholder="{{lable.number}}">
                            <div ng-messages="frm_payment.number.$error" ng-show="frm_payment.number.$touched || frm_payment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_number_code}}</span>
                                <span class="error" ng-message="">{{lable.input_number_code_error}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-5 " ng-class="{'has-error': (frm_payment.car_number.$touched && frm_payment.car_number.$invalid) || (frm_payment.$submitted && frm_payment.car_number.$invalid)}">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control"  name="car_number" required ng-model="number" placeholder="{{lable.card_number}}">
                            <div ng-messages="frm_payment.car_number.$error" ng-show="frm_payment.car_number.$touched || frm_payment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_card_number}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 " ng-class="{'has-error': (frm_payment.date_end.$touched && frm_payment.date_end.$invalid) || (frm_payment.$submitted && frm_payment.date_end.$invalid)}">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control"  name="date_end" required ng-model="expiry" placeholder="MM/YY">
                            <div ng-messages="frm_payment.date_end.$error" ng-show="frm_payment.date_end.$touched || frm_payment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_card_number_date_end}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 " ng-class="{'has-error': (frm_payment.cvc.$touched && frm_payment.cvc.$invalid) || (frm_payment.$submitted && frm_payment.cvc.$invalid)}">
                        <div class="col-xs-12">
                            <input type="text" class="form-control"  name="cvc" required ng-model="cvc" placeholder="CVC">
                            <div ng-messages="frm_payment.cvc.$error" ng-show="frm_payment.cvc.$touched || frm_payment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_card_number_code}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px 10px" ng-init="totalMoney = 0">
                    <label>{{lable.total_monney_payment}} {{totalMoney| number :0}} vnđ</label>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_payment.use_of_the_terms.$touched && frm_payment.use_of_the_terms.$invalid) || (frm_payment.$submitted && frm_payment.use_of_the_terms.$invalid)}">
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label style="width: 200px">
                                <input type="checkbox" required ng-model="payment.use_of_the_terms" name="use_of_the_terms" >{{lable.accept_term_payment}}
                            </label>
                            <div style="width: calc(100% - 200px)" class="pull-right"  ng-messages="frm_payment.use_of_the_terms.$error" ng-show="frm_payment.use_of_the_terms.$touched || frm_payment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_term}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-11 col-sm-11 col-xs-12 ">
                        <a  class="btn btn-default" href="#operator/payment">{{lable.cancel}}</a>
                        <button type="submit" class="btn btn-success" >{{lable.payment}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>