<div class="container" id="homePage" ng-controller="homeExerciseController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading black"><label class="title">{{lable.home}}</label></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3" >
                    <a href="#admin/system/exercise/exercise" >
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn-group-home">{{lable.exercise}} </label>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3" >
                    <a href="#admin/system/exercise/test" >
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center">
                                <div class="group-button-student">
                                    <label class="btn-group-home">{{lable.test}} </label>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>