<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Operator</title>
        <!--<base href="http://localhost:3000/" target="_blank">-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="../../resources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../resources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" rel="stylesheet">
        <link href="../../resources/vendors/nprogress/nprogress.css" rel="stylesheet">
        <link href="../../resources/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
        <link href="../../resources/build/css/custom.min.css" rel="stylesheet">
        <!--<link href="../../public/plugins/flash-message/angular-flash.min.css" rel="stylesheet" type="text/css"/>-->
        <link href="../../public/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="operator" class="nav-md" ng-controller="operatorController">
        <div id="spinner_loading" class="hide" >
            <img src="../../public/images/ajax-loader.gif">
        </div>
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col menu_fixed">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="#/"  class="remove-active-menu site_title"><img src="../../public/images/logo.png"></a>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>{{lable.menu}}</h3>
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-users"></i> {{lable.manager_supervisor}}<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/supervisor">{{lable.list}}</a></li>
                                            <li><a href="#operator/supervisor/add">{{lable.add}}</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-users"></i> {{lable.manager_student}} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/student">{{lable.list}}</a></li>
                                            <li><a href="#operator/student/add">{{lable.list_sending_student}}</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-cubes"></i> {{lable.manager_group}} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/group">{{lable.list}}</a></li>
                                            <li><a href="#operator/group/add">{{lable.add}}</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-newspaper-o"></i> {{lable.manager_new}} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/new">{{lable.list_inmidicate}}</a></li>
                                            <li><a href="#operator/new/sending">{{lable.list_sending}}</a></li>
                                            <!--<li><a href="#operator/new/add">{{lable.add}}</a></li>-->
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-bell"></i> {{lable.manager_notification}} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/notification">{{lable.list}}</a></li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-cc-stripe"></i> {{lable.manager_payment}} <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="#operator/payment">{{lable.list}}</a></li>
                                            <li><a href="#operator/payment/resquest_code">{{lable.request}}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        {{user.email}}
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a class="remove-active-menu" href="#operator/profile"> {{lable.info_user}}</a></li>
                                        <li><a class="remove-active-menu" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> {{lable.logout}}</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number"  aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="../../public/images/ajax-loader.gif" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a>
                                                <span class="image"><img src="../../public/images/ajax-loader.gif" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="right_col" role="main">
                    <flash-message duration="3000" show-close="true"></flash-message>
                    <div ng-view></div>
                </div>
                <footer>
                    <div class="pull-right">
                        <a ng-click="setLanguage('vi')" href="">Tiếng Việt | </a>
                        <a ng-click="setLanguage('ja')" href="">日本の | </a>
                        Copyright © 2017,  <a href="#/">HOUHOU!</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
        <!-- /page content -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.2/angular-messages.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script src="../../public/plugins/payment/payment.min.js" type="text/javascript"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="../../public/plugins/flash-message/angular-flash.min.js" type="text/javascript"></script>
        <script src="../../resources/vendors/jquery/dist/jquery.min.js"></script>
        <script src="../../resources/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
        <script src="../../resources/vendors/fastclick/lib/fastclick.js"></script>
        <script src="../../resources/vendors/nprogress/nprogress.js"></script>
        <script src="../../public/plugins/qrcodejs/qrcode.js" type="text/javascript"></script>
        <script src="../../resources/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="../../resources/build/js/custom.js"></script>
        <script src="../../public/js/config.js"></script>
        <script src="operator.js"></script>
        <script src="../../resources/lang/message.js" type="text/javascript"></script>
        <script src="../../resources/lang/lable.js" type="text/javascript"></script>
        <script src="../../public/js/service.js" type="text/javascript"></script>
        <script src="../../public/js/authentication.js"></script>
        <script src="../../public/js/common.js"></script>
        <script src="controllers/home.js" type="text/javascript"></script>
        <script src="controllers/supervisor.js"></script>
        <script src="controllers/group.js"></script>
        <script src="controllers/student.js"></script>
        <script src="controllers/profile.js" type="text/javascript"></script>
        <script src="controllers/new.js" type="text/javascript"></script>
        <script src="controllers/notification.js" type="text/javascript"></script>
        <script src="controllers/payment.js" type="text/javascript"></script>
    </body>
</html>
