<div class="container" ng-controller="groupStudentController" id="homePage">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.list_group}}</label></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3" ng-repeat="group in groups.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
                    <a href="#supervisor/group/{{group._id}}">
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home">{{group.name}}  </label>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div ng-show="totalItems > itemsPerPage">
                    <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage"  class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>