<div class="container" ng-controller="indexStudentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading ">
            <label class="black">{{lable.list_student}} </label>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-4"><a href="#supervisor/group" class="btn btn-default">{{lable.back}}</a></div>
                <div class="col-sm-8 pull-right" >
                    <form class="navbar-form navbar-left pull-right" role="search"  >
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="keyword" ng-change="pageChangeSearch(currentPage)" placeholder="{{lable.search}}" >
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="width-5">{{lable.stt}}</th>
                        <th class="width-12-5">{{lable.id_student}}</th>
                        <th class="width-12-5">{{lable.name_student}}</th>
                        <th class="width-17-5">{{lable.email}}</th>
                        <th class="width-12-5">{{lable.birth}}</th>
                        <th class="width-20">{{lable.name_group}}</th>
                        <th class="width-10">{{lable.detail}}</th>
                        <th class="width-10">{{lable.information}}</th>
                    </tr>
                </thead>
                <tbody ng-init="fileds = ['email', 'name','code','email']">
                    <tr ng-repeat="student in students.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))| customSearch: keyword : fileds">
                        <td>{{$index + 1 + ((currentPage - 1) * itemsPerPage)}}</td>
                        <td>{{student.code}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.birth * 1000| date : 'yyyy-MM-dd'}}</td>
                        <td>{{student.group}}</td>
                        <td><a class="btn btn-default btn-xs" href="#supervisor/student/{{student._id}}">{{lable.view}}</a></td>
                        <td><a class="btn btn-xs btn-success" href="#supervisor/student/profile/{{student._id}}">{{lable.view}}</a></td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="totalItems > itemsPerPage">
                <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
            </div>
        </div>
    </div>
</div>