<div class="container" ng-controller="executePrintData">
    <h1 class="text-center">{{lable.result_study}}</h1>
    <label class="black">{{lable.info_student}}</label>
    <table class="table table-bordered">
        <tr>
            <th>{{lable.id_student}}</th>
            <th>{{lable.name_student}}</th>
            <th>{{lable.email}}</th>
            <th>{{lable.phone}}</th>
            <th>{{lable.address}}</th>
            <th>{{lable.sex}}</th>
            <th>{{lable.birth}}</th>
        </tr>
        <tr>
            <th>{{student._id}}</th>
            <th>{{student.name}}</th>
            <th>{{student.phone}}</th>
            <th>{{student.email}}</th>
            <th>{{student.address}}</th>
            <th>{{student.sex}}</th>
            <th>{{student.birth * 1000| date :'yyyy - MM - dd'}}</th>
        </tr>
    </table>
    <div class="ln_solid"></div>
    <div class="row" id="content_exercise">
        <div class="col-sm-9">
            <label class="black">{{lable.info_exercise}}</label>
            <table class="table table-bordered table-result-study">
                <tr>
                    <th></th>
                    <th>Thời gian </th>
                    <th>Từ vựng</th>
                    <th>Mẫu câu</th>
                    <th>Nghe</th>
                    <th>Viết</th>
                    <th>Test</th>

                </tr>
                <tr>
                    <td rowspan="2">Bài 1</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 2</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 3</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 4</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 5</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 6</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td rowspan="2">Bài 7</td>
                    <td rowspan="2">12H</th>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                    <td>2016/12/10</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                    <td>*</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3 item_average_exercise">
            <div class="average_exercise" style="margin-top: 150px; margin-left: 100px">
                <label class="label_center">3,2h</label>
            </div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <label class="black">{{lable.comment}}</label>
    <table class="table table-bordered">
        <tr>
            <th>{{lable.stt}}</th>
            <th>{{lable.user_comment}}</th>
            <th>{{lable.content}}</th>
            <th>{{lable.date}}</th>


        </tr>
        <tr ng-repeat="comment in comments">
            <td>{{$index + 1}}</td>
            <th>{{comment.teachers.name}}</th>
            <th>{{comment.description}}</th>
            <th>{{comment.created * 1000| date:'yyyy-MM-dd'}}</th>
        </tr>
    </table>

</div>

