<div class="container" ng-controller="profileStudentController">
    <div class="panel panel-default panel_margin_page_for_print" id="student_profile">
        <div class="panel-heading"><label class="black">{{lable.cv}}</label></div>
        <div class="panel-body" style="color: black">
            <h1 class="text-center title_cv">{{lable.cv| uppercase}}</h1>
            <table class="table table-bordered">
                <tr>
                    <td class="width-10 font_bold">{{lable.full_name}}</td>
                    <td colspan="4" class="width-22-5">{{student.name}}</td>
                    <td class="width-10 font_bold"> {{lable.spelling_katakana}}</td>
                    <td class="width-10"> {{student.name_katakana}}</td>
                    <td class="width-10 font_bold"> {{lable.sex}}</td>
                    <td colspan="4" class="width-17-5"> {{student.sex}}</td>
                    <td class="width-20 no_padding" style="vertical-align: top" rowspan="5" ><img class="img_avatar_profile" src="{{student.avatar}}"></td>
                </tr>
                <tr>
                    <td class="font_bold"> {{lable.birth}}</td>
                    <td colspan="4">{{student.birth * 1000| date : 'yyyy-MM-dd'}}</td>
                    <td class="font_bold"> {{lable.age}}</td>
                    <td> {{student.age}}</td>
                    <td class="font_bold"> {{lable.height}}<br/> {{lable.weight}}</td>
                    <td>  {{student.height}}</td>
                    <td class="font_bold"> {{lable.cm}}</td>
                    <td> {{student.weight}}</td>
                    <td class="font_bold">{{lable.kg}}</td>
                </tr>
                <tr>
                    <td rowspan="2" class="font_bold">{{lable.eye_sight}}</td>
                    <td rowspan="2" class="font_bold">{{lable.left}}</td>
                    <td rowspan="2"> {{student.left_eye}}</td>
                    <td rowspan="2" class="font_bold"> {{lable.right}}</td>
                    <td rowspan="2"> {{student.right_eye}}</td>
                    <td rowspan="2" class="font_bold"> {{lable.blind_color_weak_color}}</td>
                    <td rowspan="2"> {{student.color_blind}}</td>
                    <td class="font_bold">{{lable.blood_type}}</td>
                    <td colspan="4">{{student.blood_group}}</td>
                </tr>
                <tr>   
                    <td class="font_bold"> {{lable.blood_pressure}}</td>
                    <td colspan="4"> {{student.blood_pressure}}</td>
                </tr>
                <tr>
                    <td class="font_bold"> {{lable.marital_status}}</td>
                    <td  colspan="4"> {{student.marital_status}}</td>
                    <td class="font_bold"> {{lable.handedness}}</td>
                    <td> {{student.preferred_hand}}</td>
                    <td class="font_bold"> {{lable.degree_poken_driver}}</td>
                    <td colspan="4">  {{student.preferred_hand}}</td>
                </tr>
                <tr>
                    <td class="font_bold">{{lable.phone}}</td>
                    <td colspan="4">{{student.phone}}</td>
                    <td class="font_bold">{{lable.have_been_abroad}}</td>
                    <td> {{student.go_abroad}}</td>
                    <td class="font_bold"> {{lable.address}}</td>
                    <td colspan="5">{{student.address}}</td>
                </tr>
                <tr>
                    <td class="font_bold"> {{lable.drink_wine}}</td>
                    <td colspan="4" > {{student.alcohol}}</td>
                    <td class="font_bold"> {{lable.smoke}}</td>
                    <td> {{student.smoking}}</td>
                    <td colspan="4" class="font_bold"> {{lable.money_earn_late_3_year}}</td>
                    <td colspan="2">{{student.make_money}}</td>

                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-10 font_bold" rowspan="{{student.countEducation + 1}}">{{lable.process_learned}}</td>
                    <td colspan="3" class="width-22-5 font_bold">{{lable.from_time_to_time}}</td>
                    <td class="width-25 font_bold">{{lable.scholl_name}}</td>
                    <td class="width-7-5 font_bold">{{lable.total_year}}</td>
                    <td class="width-17-5 font_bold">{{lable.mayjor}}</td>
                    <td class="width-17-5 font_bold" >{{lable.time_learn_japane}}</td>
                </tr>
                <tr ng-repeat="school in student.educations">
                    <td>{{school.date_start * 1000| date: 'yyyy-MM'}}</td>
                    <td>~</td>
                    <td>{{school.date_end * 1000| date: 'yyyy-MM'}}</td>
                    <td>{{school.name}}</td>
                    <td>{{school.count_year}}</td>
                    <td>{{school.specialize}}</td>
                    <td ng-if="$index == 0" rowspan="{{student.countEducation}}">{{student.time_learn_japan}}</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-10 font_bold" rowspan="{{student.countEmployment_history + 1}}">{{lable.process_work}}</td>
                    <td colspan="3" class="width-22-5 font_bold">{{lable.from_time_to_time}}</td>
                    <td class="width-20 font_bold">{{lable.name_company}}</td>
                    <td class="width-7-5 font_bold">{{lable.total_year}}</td>
                    <td class="width-10 font_bold">{{lable.career}}</td>
                    <td class="width-10 font_bold"> {{lable.location}}</td>
                    <td class="width-10 font_bold" >{{lable.work}}</td>
                    <td class="width-10 font_bold" >{{lable.salary_in_month}}</td>
                </tr>
                <tr ng-repeat="employment in student.employment_history">
                    <td>{{employment.date_start * 1000| date: 'yyyy-MM'}}</td>
                    <td>~</td>
                    <td>{{employment.date_end * 1000| date: 'yyyy-MM'}}</td>
                    <td>Trường tiểu học</td>
                    <td>{{employment.count_year}}</td>
                    <td>{{employment.job}}</td>
                    <td>{{employment.address}}</td>
                    <td>{{employment.regency}}</td>
                    <td>{{employment.salary}}</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-10 font_bold">{{lable.reason_apply}}</td>
                    <td class="width-90">{{student.reason}}</td>
                </tr>
                <tr>
                    <td class="width-10 font_bold">{{lable.strong_weak_of_selft}}</td>
                    <td class="width-90">{{student.strengths_themselves}}</td>
                </tr>
                <tr>
                    <td class="width-10 font_bold">{{lable.hobby}}</td>
                    <td class="width-90">{{student.hobby}}</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-10 font_bold">{{lable.family}}</td>
                    <td class="width-7-5 font_bold">{{lable.relationship}}</td>
                    <td class="width-32-5 font_bold">{{lable.full_name}}</td>
                    <td class="width-12-5 font_bold">{{lable.age}}</td>
                    <td class="width-12-5 font_bold">{{lable.location}}</td>
                    <td class="width-12-5 font_bold">{{lable.work}}</td>
                    <td class="width-12-5 font_bold">{{lable.total_salary_of_family}}</td>
                </tr>
                <tr ng-repeat="family in student.family">
                    <td>{{$index + 1}}</td>
                    <td>{{family.relative}}</td>
                    <td>{{family.name}}</td>
                    <td>{{family.age}}</td>
                    <td>{{family.address}}</td>
                    <td>{{family.job}}</td>
                    <td ng-if="$index == 0" rowspan="{{student.countFamily}}">{{student.family_imcom}}</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-17-5 font_bold">{{lable.who_give_you}}</td>
                    <td class="width-12-5">{{student.people_agree}}</td>
                    <td class="width-10 font_bold">{{lable.time_for_plane_go_japan}}</td>
                    <td class="width-10">{{student.time_travel_to_japan * 1000| date: 'yyyy-MM-dd'}}</td>
                    <td class="width-12-5 font_bold">{{lable.date_admission}}</td>
                    <td class="width-12-5">{{student.admission_date * 1000| date: 'yyyy-MM-dd'}}</td>
                    <td class="width-12-5 font_bold">{{lable.date_application}}</td>
                    <td class="width-12-5">{{student.recruitment_date * 1000| date: 'yyyy-MM-dd'}}</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td class="width-17-5 font_bold">{{lable.guardian}}</td>
                    <td class="width-12-5">{{student.guardian}}</td>
                    <td class="width-20 "><span class="font_bold">{{lable.dt}}</span>{{student.guardian_phone}}</td>
                    <td class="width-25"><span class="font_bold">{{lable.id_cmtnnd}}</span>{{student.cmnd}}</td>
                    <td class="width-25"><span class="font_bold">{{lable.date_range}}</span>{{student.date_cmnd * 1000| date: 'yyyy-MM-dd'}}</td>
                </tr>
            </table>
            <div class="panel-footer">
                <a class="btn btn-default"  href="#supervisor/group/{{id_group_before}}">{{lable.back}}</a>
            </div>
        </div>
    </div>
</div>