<div class="container" ng-controller="detailStudentController">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.detail_student}}</label></div>
        <div class="panel-body">
            <label class="black">{{lable.info_student}}</label>
            <table class="table table-bordered">
                <tr>
                    <th>{{lable.id_student}}</th>
                    <th>{{lable.name_student}}</th>
                    <th>{{lable.email}}</th>
                    <th>{{lable.phone}}</th>
                    <th>{{lable.address}}</th>
                    <th>{{lable.sex}}</th>
                    <th>{{lable.birth}}</th>
                </tr>
                <tr>
                    <th>{{student._id}}</th>
                    <th>{{student.name}}</th>
                    <th>{{student.phone}}</th>
                    <th>{{student.email}}</th>
                    <th>{{student.address}}</th>
                    <th>{{student.sex}}</th>
                    <th>{{student.birth * 1000| date :'yyyy - MM - dd'}}</th>
                </tr>
            </table>
            <div class="ln_solid"></div>
            <div class="row" id="content_exercise">
                <div class="col-sm-9">
                    <label class="black">{{lable.info_exercise}}</label>
                    <table class="table table-bordered table-result-study">
                        <tr>
                            <th></th>
                            <th>Thời gian </th>
                            <th>Từ vựng</th>
                            <th>Mẫu câu</th>
                            <th>Nghe</th>
                            <th>Viết</th>
                            <th>Test</th>

                        </tr>
                        <tr>
                            <td rowspan="2">Bài 1</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 2</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 3</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 4</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 5</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 6</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Bài 7</td>
                            <td rowspan="2">12H</th>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                            <td>2016/12/10</td>
                        </tr>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3 item_average_exercise">
                    <a class="btn  btn-primary btn_print_student" href="#supervisor/student/print">{{lable.print}}</a>
                    <div class="average_exercise">
                        <label class="label_center">3,2h</label>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <label class="black">{{lable.comment}}</label>
            <form class="form-horizontal form-label-left" name="frm_add_comment" novalidate ng-submit="addComment()">
                <div class="form-group" ng-class="{'has-error':  frm_add_comment.comment.$invalid && frm_add_comment.$submitted }">
                    <textarea rows="5" class="form-control"  name="comment" ng-model="teacher.description" placeholder="{{lable.comment}}" required ></textarea>
                    <div ng-messages="frm_add_comment.comment.$error" ng-show=" frm_add_comment.$submitted">
                        <span class="error" ng-message="required">{{lable.input_comment}}</span>
                    </div>
                </div>
                <button type="submit" class=" btn btn-success">{{lable.comment}}</button>
            </form>
            <div class="ln_solid"></div>
            <div class="row"> 
                <div class="col-sm-12">
                    <label class="black">{{lable.comment}}</label>
                    <table class="table table-bordered">
                        <tr>
                            <th>{{lable.stt}}</th>
                            <th>{{lable.user_comment}}</th>
                            <th>{{lable.content}}</th>
                            <th>{{lable.date}}</th>
                            <th>{{lable.update}}</th>
                            <th>{{lable.delete}}</th>

                        </tr>
                        <tr ng-repeat="comment in comments.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))">
                            <td>{{$index + 1 + ((currentPage - 1) * itemsPerPage)}}</td>
                            <th>{{comment.teachers.name}}</th>
                            <th>{{comment.description}}</th>
                            <th>{{comment.created * 1000| date:'yyyy-MM-dd'}}</th>
                            <th><button ng-show="auth_user.id == comment.teachers._id" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#exampleModal" ng-click="updateComment(comment._id, comment.description)" >{{lable.update}}</button></th>
                            <th><button ng-show="auth_user.id == comment.teachers._id" class="btn btn-xs btn-danger" ng-click="deleteComent(comment._id)">{{lable.delete}}</button></th>

                        </tr>
                    </table>
                    <div ng-show="totalItems > itemsPerPage">
                        <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-default"  href="#supervisor/group/{{id_group_before}}">{{lable.back}}</a>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{lable.comment}}</h5>
                </div>
                <form class="form-horizontal form-label-left" name="frm_edit_comment" novalidate ng-submit="editComment()">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error':  frm_edit_comment.edit_comment.$invalid && frm_edit_comment.$submitted }">
                            <textarea rows="5" class="form-control"  name="edit_comment" ng-model="commentUpdate.description" placeholder="{{lable.comment}}" required ></textarea>
                            <div ng-messages="frm_edit_comment.edit_comment.$error" ng-show=" frm_edit_comment.$submitted">
                                <span class="error" ng-message="required">{{lable.input_comment}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{lable.close}}</button>
                        <button type="submit" class="btn btn-primary" >{{lable.change}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
