<div id="print-contain" class="print_new_page">
    <h1 class="text-center">{{lable.comment}}</h1>
    <div class="panel-body">
        <div class="panel-body">
            <label class="black">TỔ chức 1</label>
            <table class="table table-bordered">
                <tr>
                    <th>{{lable.user_comment}}</th>
                    <th>{{lable.content}}</th>
                    <th>{{lable.date}}</th>
                </tr>
                <tr>
                    <th>{{student._id}}</th>
                    <th>{{student.name}}</th>
                    <th>{{student.phone}}</th>
                </tr>
            </table>
            <div class="ln_solid"></div>
            <label class="black">TỔ chức 2</label>
            <table class="table table-bordered">
                <tr>
                    <th>{{lable.user_comment}}</th>
                    <th>{{lable.content}}</th>
                    <th>{{lable.date}}</th>
                </tr>
                <tr>
                    <th>{{student._id}}</th>
                    <th>{{student.name}}</th>
                    <th>{{student.phone}}</th>
                </tr>
            </table>
            <div class="ln_solid"></div>
            <label class="black">TỔ chức 3</label>
            <table class="table table-bordered">
                <tr>
                    <th>{{lable.user_comment}}</th>
                    <th>{{lable.content}}</th>
                    <th>{{lable.date}}</th>
                </tr>
                <tr>
                    <th>{{student._id}}</th>
                    <th>{{student.name}}</th>
                    <th>{{student.phone}}</th>
                </tr>
            </table>
            <div class="ln_solid"></div>
        </div>
    </div>
</div>