<table class="table_title_print">
    <tr>
        <td>
            <ins> Mô tả 1: {{description.description}} </ins>
        </td>
        <td rowspan="2" class="text-right">
            <ins> Ngày in: {{date| date :'yyyy-MM-dd'}} </ins>
        </td>
    </tr>
    <tr>
        <td>
            <ins> Mô tả 2: {{description.description1}} </ins>
        </td>
    </tr>
</table>
<div  id="student_profile">
    <h1 class="text-center title_cv">{{lable.cv | uppercase}}</h1>
    <div class="pull-right">
        <table class="table table-bordered">
            <tr>
                <td>{{lable.stt}}</td>
                <td>{{$index + 1}}</td>
            </tr>
        </table>
    </div>
    <table class="table table-bordered">
        <tr>
            <td class="width-10 font_bold">{{lable.full_name}}</td>
            <td colspan="4" class="width-22-5"> Nguyễn Xuân Tâm</td>
            <td class="width-10 font_bold"> {{lable.spelling_katakana}}</td>
            <td class="width-10"> Katakana</td>
            <td class="width-10 font_bold"> {{lable.sex}}</td>
            <td colspan="4" class="width-17-5"> Nam</td>
            <td class="width-20 no_padding" style="vertical-align: top" rowspan="5" ><img class="img_avatar_profile_print" src="../../../../public/images/picture.jpg"></td>
        </tr>
        <tr>
            <td class="font_bold"> {{lable.birth}}</td>
            <td colspan="4">27/06/1994</td>
            <td class="font_bold"> {{lable.age}}</td>
            <td> 25</td>
            <td class="font_bold"> {{lable.height}}<br/> {{lable.weight}}</td>
            <td> 167</td>
            <td class="font_bold"> {{lable.cm}}</td>
            <td> 58</td>
            <td class="font_bold">{{lable.kg}}</td>
        </tr>
        <tr>
            <td rowspan="2" class="font_bold"> {{lable.eye_sight}}</td>
            <td rowspan="2" class="font_bold"> {{lable.left}}</td>
            <td rowspan="2"> 10/10</td>
            <td rowspan="2" class="font_bold"> {{lable.right}}</td>
            <td rowspan="2"> 10/10</td>
            <td rowspan="2" class="font_bold"> {{lable.blind_color_weak_color}}</td>
            <td rowspan="2"> Không</td>
            <td class="font_bold">{{lable.blood_type}}</td>
            <td colspan="4">Máu  0</td>
        </tr>
        <tr>   
            <td class="font_bold"> {{lable.blood_pressure}}</td>
            <td colspan="2"> 150</td>
            <td colspan="2"> 275</td>
        </tr>
        <tr>
            <td class="font_bold"> {{lable.marital_status}}</td>
            <td  colspan="4"> Độc thân</td>
            <td class="font_bold"> {{lable.handedness}}</td>
            <td> Phải</td>
            <td class="font_bold"> {{lable.degree_poken_driver}}</td>
            <td colspan="4"> Bằng lái ô tô hạng c</td>
        </tr>
        <tr>
            <td class="font_bold"> {{lable.phone}}</td>
            <td colspan="4">0972722994</td>
            <td class="font_bold">Đã từng đi nước ngoài</td>
            <td> Chưa</td>
            <td class="font_bold"> {{lable.address}}</td>
            <td colspan="5">tokyo nhật bản</td>
        </tr>
        <tr>
            <td class="font_bold"> {{lable.drink_wine}}</td>
            <td colspan="4" > Không</td>
            <td class="font_bold"> {{lable.smoke}}</td>
            <td> Không</td>
            <td colspan="4" class="font_bold"> {{lable.money_earn_late_3_year}}</td>
            <td colspan="2"> 1.000.000 $</td>

        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-10 font_bold" rowspan="6">{{lable.process_learned}}</td>
            <td colspan="3" class="width-22-5 font_bold">{{lable.from_time_to_time}}</td>
            <td class="width-25 font_bold">{{lable.scholl_name}}</td>
            <td class="width-7-5 font_bold">{{lable.total_year}}</td>
            <td class="width-17-5 font_bold">{{lable.mayjor}}</td>
            <td class="width-17-5 font_bold" >{{lable.time_learn_japane}}</td>
        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
            <td rowspan="5">8 năm</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-10 font_bold" rowspan="6">{{lable.process_work}}</td>
            <td colspan="3" class="width-22-5 font_bold">{{lable.from_time_to_time}}</td>
            <td class="width-20 font_bold">{{lable.name_company}}</td>
            <td class="width-7-5 font_bold">{{lable.total_year}}</td>
            <td class="width-10 font_bold">{{lable.career}}</td>
            <td class="width-10 font_bold"> {{lable.location}}</td>
            <td class="width-10 font_bold" >{{lable.work}}</td>
            <td class="width-10 font_bold" >{{lable.salary_in_month}}</td>
        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
            <td>Hà nội</td>
            <td>Lập trình</td>
            <td>3000$</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
            <td>Hà nội</td>
            <td>Lập trình</td>
            <td>3000$</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
            <td>Hà nội</td>
            <td>Lập trình</td>
            <td>3000$</td>

        </tr>
        <tr>
            <td>7/2001</td>
            <td>~</td>
            <td>7/2005</td>
            <td>Trường tiểu học</td>
            <td>5</td>
            <td>Học văn hóa</td>
            <td>Hà nội</td>
            <td>Lập trình</td>
            <td>3000$</td>

        </tr>
        <tr>
            <td class="width-10 font_bold">{{lable.content_work}}</td>
            <td colspan="8"></td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-10 font_bold">{{lable.reason_apply}}</td>
            <td class="width-90">Lý do ứng tuyển</td>
        </tr>
        <tr>
            <td class="width-10 font_bold">{{lable.strong_weak_of_selft}}</td>
            <td class="width-90">Lý do ứng tuyển</td>
        </tr>
        <tr>
            <td class="width-10 font_bold">{{lable.hobby}}</td>
            <td class="width-90">Lý do ứng tuyển</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-10 font_bold">{{lable.family}}</td>
            <td class="width-7-5 font_bold">{{lable.relationship}}</td>
            <td class="width-32-5 font_bold">{{lable.full_name}}</td>
            <td class="width-12-5 font_bold">{{lable.age}}</td>
            <td class="width-12-5 font_bold">{{lable.location}}</td>
            <td class="width-12-5 font_bold">{{lable.work}}</td>
            <td class="width-12-5 font_bold">{{lable.total_salary_of_family}}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td >6</td>
            <td rowspan="6">6</td>

        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>

        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-17-5 font_bold">{{lable.who_give_you}}</td>
            <td class="width-12-5">Nguyễn Xuân Tâm</td>
            <td class="width-10 font_bold">{{lable.time_for_plane_go_japan}}</td>
            <td class="width-10">27/2/2017</td>
            <td class="width-12-5 font_bold">{{lable.date_admission}}</td>
            <td class="width-12-5">27/6/2017</td>
            <td class="width-12-5 font_bold">{{lable.date_application}}</td>
            <td class="width-12-5">29/4/2017</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td class="width-17-5 font_bold">{{lable.guardian}}</td>
            <td class="width-12-5">Nguyễn Xuân Tâm</td>
            <td class="width-20 "><span class="font_bold">{{lable.dt}}</span>S0972722994</td>
            <td class="width-25"><span class="font_bold">{{lable.id_cmtnnd}}</span>122162847</td>
            <td class="width-25"><span class="font_bold">{{lable.date_range}}</span>2011/10/11</td>
        </tr>
    </table>
</div>