<div div class="container" ng-controller="editProfileController">
    <form class="form-horizontal form-label-left" name="frm_edit_profile" novalidate ng-submit="editProfile()">
        <div class="panel panel-default panel_margin">
            <div class="panel-heading"><label class="black">{{lable.update_info}}</label></div>
            <div class="panel-body">
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.name.$touched && frm_edit_profile.name.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.name.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.name_user}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="text" class="form-control" ng-minlength="6" name="name" required ng-model="userSupervisor.name" placeholder="{{lable.name_user}}">
                        <div ng-messages="frm_edit_profile.name.$error" ng-show="frm_edit_profile.name.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_user_name}}</span>
                            <span class="error" ng-message="minlength">{{lable.input_user_name_min_length}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.email.$touched && frm_edit_profile.email.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.email.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.email}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="email" class="form-control" ng-minlength="6"  name="email" required value="{{userSupervisor.email}}" disabled placeholder="{{lable.email}}">
                        <div ng-messages="frm_edit_profile.email.$error" ng-show="frm_edit_profile.email.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_email}}</span>
                            <span class="error" ng-message="email">{{lable.input_email_error}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.address.$touched && frm_edit_profile.address.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.address.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.address}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="text" class="form-control" ng-minlength="6"  name="address" required ng-model="userSupervisor.address" placeholder="{{lable.address}}">
                        <div ng-messages="frm_edit_profile.address.$error" ng-show="frm_edit_profile.address.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_address}}</span>
                            <span class="error" ng-message="minlength">{{lable.input_address_min_length}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.phone.$touched && frm_edit_profile.phone.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.phone.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.phone}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="text" class="form-control" ng-pattern="/^0[1-9]{1}[0-9]{8,9}$/"  name="phone" required ng-model="userSupervisor.phone" placeholder="{{lable.phone}}">
                        <div ng-messages="frm_edit_profile.phone.$error" ng-show="frm_edit_profile.phone.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_phone}}</span>
                            <span class="error" ng-message="pattern">{{lable.input_phone_error}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.birth.$touched && frm_edit_profile.birth.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.birth.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.birth}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="text" id="datetimepicker" class="form-control" ng-minlength="6"  name="birth" required value="{{userSupervisor.birth_date}}" placeholder="{{lable.birth}}">
                        <div ng-messages="frm_edit_profile.birth.$error" ng-show="frm_edit_profile.birth.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_birth}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.sex.$touched && frm_edit_profile.sex.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.sex.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.sex}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="radio" name="sex" ng-model="userSupervisor.sex" value="boy" required> {{lable.male}}
                        <input type="radio" name="sex" ng-model="userSupervisor.sex" value="girl" required> {{lable.female}}
                        <div ng-messages="frm_edit_profile.sex.$error" ng-show="frm_edit_profile.sex.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_sex}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': (frm_edit_profile.experience.$touched && frm_edit_profile.experience.$invalid) || (frm_edit_profile.$submitted && frm_edit_profile.experience.$invalid)}">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{lable.experience}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12" >
                        <input type="text"   class="form-control" ng-pattern = "/^[0-9]+(\.[0-9]{1,2})?$/"  name="experience" required ng-model="userSupervisor.experience" placeholder="{{lable.experience}}">
                        <div ng-messages="frm_edit_profile.experience.$error" ng-show="frm_edit_profile.experience.$touched || frm_edit_profile.$submitted">
                            <span class="error" ng-message="required">{{lable.input_experience}}</span>
                            <span class="error" ng-message="pattern">{{lable.input_experience_error}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-default" href="#supervisor/profile">{{lable.cancel}}</a>
                <button class="btn btn-success" type="submit">{{lable.change}}</a>
            </div>
        </div>
    </form>
</div>