<div class="container" ng-controller="homeController" id="homePage">
    <div class="panel panel-default panel_margin">
        <div class="panel-heading"><label class="black">{{lable.list_group}}</label></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3" ng-repeat="group in groups.slice((currentPageGroup - 1) * itemsPerPageGroup, currentPageGroup * itemsPerPageGroup)">
                    <a href="#operator/group/edit/{{group._id}}">
                        <div class="panel panel-primary panel_height text-center">
                            <label class="btn-group-home-1 font_size_home">{{group.name}}  </label>
                        </div>
                    </a>
                </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div ng-show="totalItemsGroup > itemsPerPage">
                <pagination total-items="totalItemsGroup" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsizeGroup" boundary-links="true" ng-model="currentPageGroup"  class="pagination-sm" items-per-page="itemsPerPageGroup"></pagination>
            </div>
        </div>
        <div class="ln_solid ln_solid_home"></div>
        <div class="panel-heading">
            <label class="title">{{lable.list_student_free}}</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 pull-right"  >
                    <form class="navbar-form navbar-left pull-right" role="search"  >
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="keyword" ng-change="pageChangeSearch(currentPage)" placeholder="{{lable.search}}" >
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="width-5">{{lable.stt}}</th>
                        <th class="width-15">{{lable.name_student}}</th>
                        <th  class="width-15">{{lable.email}}</th>
                        <th  class="width-10">{{lable.phone}}</th>
                        <th  class="width-30">{{lable.address}}</th>
                        <th class="width-25">{{lable.group}}</th>
                    </tr>
                </thead>
                <tbody ng-init="fileds = ['name', 'email','phone','address']">
                    <tr ng-repeat="student in students.slice(((currentPage - 1) * itemsPerPage), ((currentPage) * itemsPerPage))| customSearch: keyword : fileds">
                        <td>{{$index + 1 + ((currentPage - 1) * itemsPerPage)}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.phone}}</td>
                        <td>{{student.address}}</td>
                        <td class="home-operator-select-box">
                            <select ng-model="selectGroup" class="form-control " ng-change="changeGroup(student._id, selectGroup)">
                                <option value="">{{lable.please_slect_group}}</option>
                                <option ng-repeat="x in groups" value="{{x._id}}" >{{x.name}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="totalItems > itemsPerPage">
                <pagination total-items="totalItems" first-text="&laquo;&laquo;" previous-text="&laquo;" next-text="&raquo;"  last-text="&raquo;&raquo;" max-size="maxsize" boundary-links="true" ng-model="currentPage" ng-change="pageChange(currentPage)" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
            </div>
        </div>
    </div>
</div>